@model BillProtocol.Models.PayModel.IndexPayViewModel
@{
    ViewData["Title"] = "Received invoices";
}


<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Creation date</th>
                    <th>Type</th>
                    <th>Payment date</th>
                    <th>Total amount (currency)</th>
                    <th>Wallet to pay</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if(Model.Invoices.Any())
                {
                    foreach(var invoice in Model.Invoices)
                    {
                        <tr>
                            <td>@invoice.CreatedAt</td>
                            <td>@invoice.InvoiceType.Name</td>
                            <td>@invoice.PaymentDate.ToShortDateString()</td>
                            <td>@invoice.TotalAmount (@invoice.Currency.Code)</td>
                            <td>@invoice.Wallet.Address</td>
                            <td>@invoice.InvoiceStatus.Name</td>
                            <td>@Html.ActionLink("View", "Detail","Pay",new {id = invoice.Id}, new {@class="btn btn-secondary"})</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8">You have no invoices created.</td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>
</div>